{{#each this}}
<h3 class="hero">{{hero}}</h3>

<h4 class="weapon">{{weapon}}</h4>

<ul class="skills-list">

    {{#each skills}}

    <li class="skill">{{this}}</li>

    {{/each}}

</ul>

<img src="{{img}}" alt="">
{{/each}}